.login{
    background-color: red;
    height: 100vh;
    text-align: center;
    padding-top: 5rem;
}

.lform input{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.3);
    color: white;
}

.lform input::placeholder{
    color: rgb(195, 195, 195);
}

.lbtn{
    margin-bottom: 3rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.3);
}

.lbtn:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.08) isnet, -4px -4px 8px rgba(255, 255, 255, 0.3) isnet;
}